<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MyAppDB" 
             connectionString="Data Source=.\\SQLEXPRESS;Initial Catalog=ITBookRatingsDB;Integrated Security=SSPI;Application Name=Insula.Data.Orm.Tests" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>